/* 
chartreuse #C7C32E
yellow #EBE94E
hover blue #3275EA
medium blue #4F8FFD
light blue #D3E3F3
off-white #F1F1F1
gray #B3B3B3
dark gray #292929
medium green #00887A
light green #2CC299
 */

 *   { 
  font-family: 'Public Sans', sans-serif;
  /* border: 1px red solid; */
}

body, html {
  margin: 0px;
  background-color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  color: #292929;
  text-align: center;
}

/* nav */
.nav-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}

.profile-container  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.profile-icon {
  margin-right: 10px;
  padding-top: 2.5px;
}

/* sign in container */
.sign-in  {
  cursor: pointer;
}

.dropdown-button {
  border: none;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  color: #292929;
  cursor: pointer;
}

/* drop-down menu */
.sign-in-container {
  cursor: pointer;
}

.sign-in-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  margin-top: 25px;
  padding-top: 10px;
  width: 200px;
  height: 132.5px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0 0 15px 4px #0000000F;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0s;
  -webkit-animation-fill-mode: both;
}

#username, #password  {
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px #0000000F;
}

.submit-button {
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: #4F8FFD;
  border: none;
  border-radius: 15px;
  font-weight: 100;
  color: #FFFFFF;
  cursor: pointer;
}

.submit-button:hover  {
  background-color: #3275EA;
}

.sign-in-container.active .sign-in-dropdown{
  display: block;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

/* landing page */
.display-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5%;
  width: 100vw;
  height: 500px;
}

.slogan {
  margin-bottom: 0px;
  font-family: Syne;
  font-size: 7vw;
  color: #EBE94E;
}

.tagline  {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.75vw;
  font-weight: 200;
  color: #F1F1F1;
}

.book-button-landing  {
  margin-top: 15px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: #4F8FFD;
  border: none;
  border-radius: 15px;
  font-size: 1vw;
  font-weight: 200;
  color: #F1F1F1;
  cursor: pointer;
}

.book-button-landing:hover  {
  background-color: #3275EA;
}

/* booking container */
.booking-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  width: 100vw;
}

.booking-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 5%;
}

/* booking form */
.booking-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.get-out-there {
  font-size: 3vw;
  font-weight: bold;
}

#date {
  cursor: pointer;
}

#duration, #travelers {
  cursor: text;
}

#date, #duration, #travelers {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px #0000000F;
}

/* carousels */
#destination-splide {
  margin-top: 2.5%;
  height: 255px;
}

#approved-splide, #pending-splide  {
  margin-top: 15px;
  height: 260px;
}

#destination-splide__track  {
  height: fit-content;
  width: 90vw;
  height: 255px;
}

#approved-splide__track, #pending-splide__track {
  width: 225px;
  height: 350px;
}

.splide__slide {
  position: relative;
  height: 250px;
  text-align: center;
}

.destinationImage {
  width: 100%;
  height: 90%;
  object-fit: cover;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.destinationImage:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.carouselName {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Syne;
  font-size: 30px;
  color: #EBE94E;
  user-select: none;
}

#approved-splide__slide {
  padding: 25px;
}

/* booking selection verifcation  */
.selected-destination {
  margin-top: 25px;
  margin-bottom: 0px;
}

.cost-estimate  {
  display: none;
  margin-top: 5px;
  /* margin-bottom: 25px; */
}

/* post button */
.book-button-booking  {
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: #4F8FFD;
  border: none;
  border-radius: 15px;
  font-size: 1vw;
  font-weight: 200;
  color: #F1F1F1;
  cursor: pointer;
}

.book-button-booking:hover  {
  background-color: #3275EA;
}

/* trips container */
.trips-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8%;
}

.trips-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
}

.trips-header {
  font-size: 3vw;
  font-weight: bold;
}

.pending-approved-trips  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
}

/* pending + approved trip containers */
.pending-trips-container, .approved-trips-container, .user-data-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 420px;
  width: 300px;
  margin: 2%;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px #0000000F;
}

.pending-header-container, .approved-header-container  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.pending, .approved, .pending-icon, .approved-icon {
  margin: 5px;
  font-size: 1.75vw;
  font-weight: bold;
}

.data {
  margin: 5px;
  padding-top: 7.5px;
  font-weight: bold;
}

.pending-trip-date, .approved-trip-date, .pending-trip-duration, .approved-trip-duration, .pending-trip-travelers, .approved-trip-travelers, .pending-trip-duration, .approved-trip-duration, .pending-trip-id, .approved-trip-id, .pending-trip-cost, .approved-trip-cost {
  margin-top: 5px;
  font-size: 13.5px;
  font-weight: thin;
  margin: 2.5px;
}

/* user data container */
.data   {
  font-size: 1.75vw;
  margin-bottom: 10px;
}

.welcome {
  margin-bottom: 0px;
  font-weight: bold;
}

.approved-sum, .pending-sum, .spent-sum {
  margin-top: 7px;
  margin-bottom: 0px;
  font-weight: thin;
}

/* footer */
.footer   {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quote {
  margin-top: 150px;
  margin-bottom: 0px;
  font-size: 1vw;
  font-weight: 200;
  font-style: italic;
}

.quote-attribution {
  margin-top: 5px;
  font-size: .75vw;
  font-weight: 200;
}

.footer-logo  {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}
